<form [formGroup]="formularioCliente">
  <div class='container-fluid'>
    <h1>{{tituloPagina}}</h1>
    <div class="row">
      <div class="mb-3">
        <label for="Id" class="form-label">Id</label>
        <input type="text" class="form-control" id="Id">
      </div>
      <div class="mb-3">
        <label for="Nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="Nombre">
      </div>
      <div class="mb-3">
        <label for="Apellido" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="Apellido">
      </div>
    </div>
  </div>
</form>